---
layout: default
---

<div class="home">

  {{ content }}

  <h1 class="page-heading">About Me</h1>
  
  <p> Hi, I'm Spencer Woody. I am a second year PhD student in statistics at the University of Texas at Austin. My research interests are in Bayesian nonparametrics, bioinformatics, and spatial modeling. I also serve as a research assistant in the lab of Dr. Livia Eberlin in the Department of Chemistry. </p>
  
  <h1 class="page-heading">Posts</h1>
  
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%B %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <h1 class="page-heading">Contact/h1>
  
  <p> 
	  Spencer Woody<br />
	  GDC 7.418<br />
	  2317 Speedway D9800<br />
	  Austin, TX 78712<br />
	  USA
  </p>

</div>
